[core]
  editor = vim
	quotepath = false

[user]
	name = krimpedance
	email = krimpedance@gmail.com
[color]
	ui = 1

[alias]
  st = status -sb
  g = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  bh = branch
  co = checkout
  ad = add .
  cm = commit -m
  pu = push
[http]
  proxy = proxy.pluto.ai.kyutech.ac.jp:8080
