[core]
  editor = vim
	quotepath = false

[user]
	name = USER_NAME
	email = USER_EMAIL
[color]
	ui = 1

[alias]
  st = status -sb
  g = log --graph --all --pretty=format:'%Cred%h%Creset %Cgreen(%cd%x08%x08%x08%x08%x08%x08%x08%x08%x08)%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
  bh = branch
  co = checkout
  ad = add -A
  cm = commit -m
  cpush = !git push origin `git rev-parse --abbrev-ref HEAD`
